# Files that do not need to be uplodaded
Main.java

# Files that are still under construnction,
# and will be uploaded once they are ready.
Statistics/Plot.java

.DS_Store
.vscode

# Python Cache
/Python/blueberrymath/__pycache__
# pip package
/Python/blueberrymath.egg-info/
/Python/dist/
/Python/build/
/Python/blueberrymath.tar.gz.asc
